/* Tangerine [#F28500] */
/* Maastricht Blue [#001F3D] */
/* Bitter Lemon [#C3D600]*/
/* Navajo White [#FFE0AE]*/

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0px !important;
  color: #48494a;
  background-image: url(../imgs/bg1.png);
  background-size: 100% auto;
  background-repeat: repeat-y;
}

@font-face {
  src: url('../fonts/Avenir Light.ttf');
  font-family: avenirl;
}

@font-face {
  src: url('../fonts/Heisei Mincho Std W3.otf');
  font-family: heisei;
}

@font-face {
  src: url('../fonts/Poppins-SemiBold.ttf');
  font-family: poppins;
}

@font-face {
  src: url('../fonts/Montserrat-Bold.ttf');
  font-family: montsbold;
}

/* HERRRROOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
.hero_section {
  background-image: url(../imgs/student.jpg);
  height: 580px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_detail-box {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: left;
  position: block;
  color: white;
}

.hero_detail-box h1 {
  line-height: 45px;
  font-family: montsbold;
  font-size: 50px;
  text-shadow: 1px 1px 3px #673c1b;
}

#generations {
  color: #FFC52C;
}

#english {
  color: #c3d600;
  text-shadow: 2px 1px 1px #3a220f;

}

.hero_detail-box p {
  text-shadow: 1px 1px 2px black;
}

.hero_btn-continer{
  margin-top: 25px;
}


@media screen and (max-width: 675px) {
  .hero_detail-box {
    padding: 30px 0;
    text-align: center;
    position: block;
  }

  .hero_detail-box h1 {
    line-height: 35px;
    font-family: montsbold;
    font-size: 30px;
    text-shadow: 1px 1px 1px #673c1b;
  }
}


/* apply now button */
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 20px;
  font-family: montsbold;
}

button.apply-now {
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  padding: 1em 3em;
  background: #fbb55f;
  border: 3px solid #c26b01;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.apply-now::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #F28500;
  border-radius: inherit;
  /* box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2; */
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.apply-now:hover {
  background: #fcaa45;
  transform: translate(0, 0.25em);
}

button.apply-now:hover::before {
  transform: translate3d(0, 0.5em, -1em);
}

button.apply-now:active {
  background: #fcaa45;
  transform: translate(0em, 0.75em);
}

button.apply-now:active::before {
  box-shadow: 0 0 0 2px #fcaa45, 0 0 #fcaa45;
  transform: translate3d(0, 0, -1em);
}

@media screen and (max-width: 991px) {
  .hero_section {
    height: 550px;
  }
  button {
    font-size: 15px;
  }

  button.apply-now {
    padding: 0.81em 3em;
  }
}

@media screen and (max-width: 675px) {
  .hero_section {
    height: 350px;
  }
  button {
    font-size: 15px;
  }

  button.apply-now {
    padding: 0.8em 3em;
  }

  .hero_btn-continer {
    display: flex;
    justify-content: center;
    align-items: cr;
  }
}

/*DESCRIPTION 1 BOX*/
.banner1 .row {
  display: flex;
  justify-content: space-around;
}

.banner1 .container {
  margin: 90px auto;
}

.banner1 .banner1_txt h2 {
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
  font-family: montsbold;
  text-transform: none;
  font-size: 40px;
  color: #001F3D;
  max-width: 600px;
  text-overflow: "";
}

.banner1 .banner1_txt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner1_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner1_img img {
  width: 70%;
  height: auto;
}

@media screen and (max-width: 991px) {
  .banner1 .banner1_txt h2 {
    margin-top: 15px;
    font-size: 25px;
  }
}

@media screen and (max-width: 767px) {
  .banner1 .container {
    margin: 60px auto;
  }

  .banner1 .banner1_txt h2 {
    padding: 0 30px;
    font-size: 20px;
    text-align: center;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    font-family: montsbold;
    text-transform: none;
    color: #001F3D;
    max-width: inherit;
    border: inherit;
    /* font-weight: 500; */
  }

  .banner1_img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* DESC 2 BOX */
.boxed_container h2 {
  padding: 25px 0;
  line-height: normal;
  display: inline-block;
  font-family: montsbold;
  text-transform: none;
  font-size: 30px;
  color: black;
}

.box {
  background-color: #ffe0ae;
  margin: 0 !important;
  width: 100%;
  height: auto;
}

.box-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-img img {
  margin: 0 !important;
  max-width: 100%;
  height: auto;
}

.box-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  background-color: #ffe0ae;
}

@media screen and (max-width: 1243px) {
  .boxed_container h2 {
    padding: 30px 0;
    font-size: 25px;
  }
}

@media screen and (max-width: 1072px) {
  .boxed_container h2 {
    padding: 30px 0;
    font-size: 22px;
  }
}

@media screen and (max-width: 991px) {
  .boxed_container h2 {
    padding: 30px 0;
    font-size: 20px;
  }
}

@media screen and (max-width: 841px) {
  .boxed_container h2 {
    padding: 30px;
    font-size: 20px;
  }
}

/* BANNER 2 BOX */

.banner2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner2 h2 {
  color: #001F3D;
  text-align: center;
  font-family: montsbold;
  padding-top: 50px;
  font-size: 50px;
  line-height: 50px;
}

.banner2 p {
  padding-top: 5px;
  text-align: center;
  font-family: avenirl;
  font-size: 30px;
  line-height: 35px;
  padding-right: 50px;
  padding-left: 50px;
}

@media screen and (max-width: 991px) {
  .banner2 h2 {
    font-size: 30px;
    line-height: 30px;
  }
  .banner2 p{
    font-size: 20px;
    line-height: 25px
  }
}


/* BANNER 2.1 BOX */
.banner2_1 {
  color: black;
  margin-top: 10px;
  justify-content: space-around;
  align-items: center;
}

.banner2_1 .container {
  padding: 0 60px;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.banner2_1 .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner2_1 .banner2_img {
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
}
.banner2_1 .banner2_txt {
  font-size: 18px;
  font-family: poppins;
  display: block;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .banner2_1 .banner2_txt {
    font-size: 15px;
  }
}

.banner2_1 {
  background-image: url('../imgs/bg5.1.png');
  background-position: bottom;
  width: 100%;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
}


#counter{
  padding-top: 60px;
}

#counter-box-container {
  overflow: hidden;
  display: inline-block;
}
.numbers-box {
  width: 250px;
  min-width: 150px;
  margin: 50px 10px 50px 10px;
  padding: 5px 5px 5px 5px;
  float: left;
  text-align: center;
  color: white;
/*  border: 1px solid black;
*/
}

.counter-value {
  src: url('../fonts/Montserrat-Bold.ttf');
  font-family: montsbold;
  font-size: 30px;
  color: white;
}

#counter-title {
  src: url('../fonts/Avenir Light.ttf');
  font-family: avenirl;
  /*src: url('../fonts/Poppins-SemiBold.ttf');
  font-family: poppins;*/

  color: white;
  font-size: 20px;
}

#counter-icon{
  color: white;
  font-size: 70px;
}

.title-line{
    border-top: px solid #c3d600;
    width: 4.5%
}

.banner2_1 hr
{
  width: 500px;
  border: 3px solid #c3d600;
  border-radius: 15px;
  margin: auto;
  justify-content: center;
  opacity:1;
}