
input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #c3d600;
    background-color: #f2f2f2;
    border-radius: 4px; 
    resize: vertical;
}
  
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

h1 {    
    src: url('../fonts/Montserrat-Bold.ttf');
    font-family: montsbold;
    text-align: center;
    font-size: 45px;
    color: #f28500;
    padding-top: 20px;
    /* padding-bottom: 20px; */
    /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.678); */
}

.form-background{
    background-image: url(../imgs/bg4.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 15px 20px 30px 20px;
}


.btn-light{
    background-color: #f28500;
    border-radius: 12px;
    outline:none;
    width: 220px;
    padding: 5px 20px;
    margin-top: 10px;
    color: white;
    src: url('../fonts/Montserrat-Bold.ttf');
    font-family: montsbold;
    font-size: x-large;
    float: right;
}

.btn-light:hover {
    background-color: #c3d600;
    color: white;
    text-decoration: none;  
}


.apply-query {
    background-color: #A6A6A6;
    border-radius: 12px;
    margin-left: 20px;
    margin-bottom: 30px;
    width: 255px; 
    padding: 5px 20px;
    src: url('../fonts/Montserrat-Bold.ttf');
    font-family: montsbold;
    font-size: x-large;
    font-weight: bold;
    outline:none;
}

.current {
    background-color: #f28500;
}

.btn-secondary:hover {
    background-color: #c3d600;

}

.formbox {
    max-width: 830px;
    border-radius: 5px;
    background-color: white;
    padding: 40px 70px 40px 70px;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
  
.col-25 {
    color: #001f3d;
    width: 25%;
    font-weight:bolder;
    src: url('../fonts/Poppins-SemiBold.ttf');
    font-family: poppins;
    font-size: large;
}
  
.col-75 {
    width: 75%;
    margin-top: 10px;
    padding-bottom: 10px;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* RESPONSIVE LAYOUT */

@media screen and (max-width: 900px) and (min-width: 650px) {
    .apply-query{
        width: 230px;
        font-size: x-large;
        margin-left: 10px;
    }
}


@media screen and (max-width: 649px) and (min-width: 586px) {
    .apply-query{
        width: 190px;
        font-size: x-large;
        margin-left: 10px;
    }
}

@media screen and (max-width: 585px){
    .col-25, .col-75, input[type=submit]{
        width: 100%;
        margin-top: 0;
    }
    .apply-query{
        width: 160px;
        font-size: large;
        margin-left: 5px;
    }
    #message{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 320px){
    .col-25, .col-75, input[type=submit]{
        width: 100%;
        margin-top: 0;
    }
    .apply-query{
        width: 140px;
        font-size: large;
        margin-left: 5px;
    }
    
    #message{
        margin-bottom: 20px;
    }
}

